body {
  background-color: coral;
}
h1 {
  color: FloralWhite;
  text-align: center;
}
h2 {
  color: FloralWhite;
  text-align: center;
}
p {
  color: white;
  text-align: center;
}
dl {
  color: white;
  text-align: center;
}
