body {
  background-color: coral;
}
h1 {
  color: FloralWhite;
  text-align: center;
}
h2 {
  color: FloralWhite;
  text-align: center;
}
p {
  color: white;
  text-align: center;
}
dl {
  color: white;
  text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.responsive {
  width: 100%;
  height: auto;
}
